<select class="form-control">
    <option>First Name(Male)</option>
    <option>First Name(Female)</option>
    <option>Full Name(Male)</option>
    <option>Full Name(Female)</option>
    <option>Initial</option>
</select>